<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>SensoresApp - INDEX - Adrenalina MKT&IT - 2017</title>

    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">

    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
    <div class="container">

        <div class="jumbotron text-center">

            <% include header.html %>

            <div class="row">
                <a href="/login" class="btn btn-primary"><i class="fa fa-sign-in"></i> Ingresar</a>
            </div>
            <br>
            <div class="row">
                <a href="/signup" class="btn btn-default"><i class="fa fa-user-plus"></i> Registrarse</a>
            </div>

        </div>

        <% include footer.html %>

    </div>
</body>
</html>