<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>SensoresApp - LOGIN - Adrenalina MKT&IT - 2017</title>

    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">

    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <% include header.html %>

    <div class="col-sm-6 col-sm-offset-3">

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/login" method="post" autocomplete="off">

            <legend class="form-label">Ingrese sus datos</legend>

            <div class="form-group">
                <label>Usuario</label>
                <input type="text" class="form-control" name="username" autofocus>
            </div>
            <div class="form-group">
                <label>Contraseña</label>
                <input type="password" class="form-control" name="password">
            </div>

            <button type="submit" class="btn btn-primary">Ingresar</button>
        </form>

        <hr>

        <p>Necesitas una cuenta? <a href="/signup">Registrarse</a></p>
        <p>Volver <a href="/">home</a>.</p>

    </div>

</div>

<% include footer.html %>

</body>
</html>