<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-id-card-o"></span> Estado de Sensores</h1>
    </div>

    <div class="well text-center">
        <p>Esta pagina permite <span class="text-success">ver</span> el estado de los sensores en tiempo real.</p>
    </div>
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img alt="100%x200" data-src="holder.js/100%x200" style="height: 25px; width: 25px; display: block;" src="../assets/img/sensor_critical.png" data-holder-rendered="true">
                    <div class="caption">
                        <h3>123456789123457 Ethernet humedad</h3>
                        <p>2016-09-18T00:14:00.000Z   Valor= 10.02</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img alt="100%x200" data-src="holder.js/100%x200" style="height: 25px; width: 25px; display: block;" src="../assets/img/sensor_ok.png" data-holder-rendered="true">
                    <div class="caption">
                        <h3>0109 / 1</h3>
                        <p>2015-08-17T21:14:00.000Z   Valor= -99.12</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img alt="100%x200" data-src="holder.js/100%x200" style="height: 25px; width: 25px; display: block;" src="../assets/img/sensor_warning.png" data-holder-rendered="true">
                    <div class="caption">
                        <h3>DECIBELES Sensor 1 292207069293000</h3>
                        <p>2017-11-03T11:37:13.000Z    Valor= 220.83</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>