<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-id-card-o"></span> Estado de Sensores</h1>
    </div>

    <div class="well text-center">
        <p>Esta pagina permite <span class="text-success">ver</span> el estado de los sensores en tiempo real.</p>
    </div>
    <div class="bs-example" data-example-id="thumbnails-with-custom-content">
            <div class="col-md-3" ng-repeat="x in vm.list">
                <a href="#" style="border: solid red;" class="thumbnail" ng-if="x.status=='critical'">
                    <img style="height: 25px; width: 25px; display: block;"  src="../assets/img/sensor_critical.png">
                    <div class="caption">
                        <h4>Sensor {{x.sensor}}</h4>
                        <p>IMEI: {{x.imei}}</p>
                        <p>MODELO: {{x.model}}</p>
                        <p>{{x.timestamp}}</p>
                        <p>{{x.data}}</p>
                    </div>
                </a>
                <a href="#" style="border: solid orange;" class="thumbnail" ng-if="x.status=='warning'">
                    <img style="height: 25px; width: 25px; display: block;" ng-if="x.status=='warning'" src="../assets/img/sensor_warning.png">
                    <div class="caption">
                        <h4>Sensor {{x.sensor}}</h4>
                        <p>IMEI: {{x.imei}}</p>
                        <p>MODELO: {{x.model}}</p>
                        <p>{{x.timestamp}}</p>
                        <p>{{x.data}}</p>
                    </div>
                </a>
                <a href="#" style="border: solid green;" class="thumbnail" ng-if="x.status=='ok'">
                    <img style="height: 25px; width: 25px; display: block;" ng-if="x.status=='ok'" src="../assets/img/sensor_ok.png">
                    <div class="caption">
                        <h4>Sensor {{x.sensor}}</h4>
                        <p>IMEI: {{x.imei}}</p>
                        <p>MODELO: {{x.model}}</p>
                        <p>{{x.timestamp}}</p>
                        <p>{{x.data}}</p>
                    </div>
                </a>
                <a href="#" style="border: solid blue;" class="thumbnail" ng-if="x.status=='unknown'">
                    <img style="height: 25px; width: 25px; display: block;" ng-if="x.status=='unknown'" src="../assets/img/sensor_unknown.png">
                    <div class="caption">
                        <h4>Sensor {{x.sensor}}</h4>
                        <p>IMEI: {{x.imei}}</p>
                        <p>MODELO: {{x.model}}</p>
                        <p>{{x.timestamp}}</p>
                        <p>{{x.data}}</p>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>