<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-microchip"></span> Equipos</h1>
    </div>

    <div class="well text-center">
        <p>Esta pagina permite <span class="text-success">agregar</span>, <span class="text-warning">editar</span> y <span class="text-danger">eliminar</span> equipos.</p>
    </div>

    <div ui-i18n="{{vm.lang}}">
        <button id="addBtn" ng-click="vm.openModal(null, 'add')" type="button" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i> Agregar Equipo</button>
        <br>
        <br>
        <div id="grid1" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-exporter class="grid"></div>
    </div>

    <div class="modal-demo">
        <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
                <button type="button" class="close" ng-click="vm.cancel()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
                <h3 class="modal-title" id="modal-title">{{vm.modalName}}</h3>
            </div>
            <div class="modal-body" id="modal-body">
                <form class="form-horizontal" name="deviceForm" >
                    <fieldset ng-disabled="vm.isDisabled">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"> IMEI</label>
                                <input class="form-control" name="imei" ng-model="vm.device._id" type="text" placeholder="IMEI" required />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label"> Nombre</label>
                                <input class="form-control" name="name" ng-model="vm.device.name" type="text" placeholder="Nombre" required />
                            </div>
                            <div class="col-md-4" ng-class="{ 'has-error': deviceForm.client.$touched && deviceForm.client.$invalid }">
                                <label>Pertenece a Cliente</label>
                                <!--<select class="form-control" name="client" ng-model="vm.user.client" ng-options="client as client.name for client in vm.clients track by client._id" required ></select>-->
                                <ui-select ng-model="vm.device.client" theme="bootstrap" uis-open-close="vm.onOpenClose(isOpen)">
                                    <ui-select-match placeholder="Seleccione un cliente">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.clients | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <div style="text-align: center;">Debe indicar un cliente</div>
                                    </ui-select-no-choice>
                                </ui-select>
                                <div class="help-block" ng-messages="deviceForm.client.$error" ng-show="deviceForm.client.$touched && deviceForm.client.$invalid">
                                    <p ng-message="required">El cliente es requerido.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" ng-class="{ 'has-error': deviceForm.model.$touched && deviceForm.model.$invalid }">
                                <label>Modelo</label>
                                <ui-select ng-model="vm.device.model" theme="bootstrap" uis-open-close="vm.onOpenClose(isOpen)">
                                    <ui-select-match placeholder="Seleccione un modelo">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.models | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <div style="text-align: center;">Debe indicar un modelo</div>
                                    </ui-select-no-choice>
                                </ui-select>
                                <div class="help-block" ng-messages="userForm.client.$error" ng-show="deviceForm.model.$touched && deviceForm.model.$invalid">
                                    <p ng-message="required">El modelo es requerido.</p>
                                </div>
                            </div>

                            <div class="col-md-4" ng-class="{ 'has-error': deviceForm.timezone.$touched && deviceForm.timezone.$invalid }">
                                <label>Zona horaria</label>
                                <ui-select ng-model="vm.device.timezone" theme="bootstrap" uis-open-close="vm.onOpenClose(isOpen)">
                                    <ui-select-match placeholder="Seleccione una zona horaria">{{$select.selected.name}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.timezones | filter: $select.search">
                                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                                    </ui-select-choices>
                                    <ui-select-no-choice>
                                        <div style="text-align: center;">Debe indicar una zona horaria</div>
                                    </ui-select-no-choice>
                                </ui-select>
                                <div class="help-block" ng-messages="deviceForm.client.$error" ng-show="deviceForm.model.$touched && deviceForm.model.$invalid">
                                    <p ng-message="required">La zona horaria es requerida.</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">Celular</label>
                                <input class="form-control" name="cell_number" ng-model="vm.device.cell_number" type="text" placeholder="Ingrese nro. celular" />
                            </div>
                            <div class="col-md-4" ng-class="{ 'has-error': deviceForm.client.$touched && deviceForm.client.$invalid }">
                                <label>Companía</label>
                                <ui-select ng-model="vm.device.carrier" theme="bootstrap" uis-open-close="vm.onOpenClose(isOpen)">
                                    <ui-select-match placeholder="Seleccione una companía celular">{{$select.selected.carrier}}</ui-select-match>
                                    <ui-select-choices repeat="item in vm.carriers | filter: $select.search">
                                        <div ng-bind-html="item.carrier | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                         </div>

                        <div class="row">
                             <div class="col-md-4" ng-class="{ 'has-error': deviceForm.client.$touched && deviceForm.client.$invalid }">
                                  <label>Timeout</label>
                                   <ui-select ng-model="vm.device.timeout" theme="bootstrap" uis-open-close="vm.onOpenClose(isOpen)">
                                       <ui-select-match placeholder="Seleccione un timeout">{{$select.selected.value}}</ui-select-match>
                                       <ui-select-choices repeat="item in vm.timeouts | filter: $select.search">
                                           <div ng-bind-html="item | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                              </div>
                             <div class="col-md-2" ng-class="{ 'has-error': deviceForm.active.$touched && deviceForm.active.$invalid }">
                                <label>Activo</label>
                                <select class="form-control" name="active" ng-model="vm.user.active" ng-options="active for active in vm.actives" selected="Si" required></select>

                                <div class="help-block" ng-messages="deviceForm.active.$error" ng-show="deviceForm.active.$touched && deviceForm.active.$invalid">
                                    <p ng-message="required">Debe indicar si el usuario se encuentra activo o no.</p>
                                </div>
                             </div>
                        </div>

                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-show="vm.isAdd" ng-click="vm.add()">Guardar</button>
                <button class="btn btn-primary" type="button" ng-show="vm.isView" ng-click="vm.back()">Volver</button>
                <button class="btn btn-primary" type="button" ng-show="vm.isUpdate" ng-click="vm.update()">Actualizar</button>
                <button class="btn btn-primary" type="button" ng-show="vm.isDelete" ng-click="vm.delete()">Eliminar</button>
                <button class="btn btn-warning" type="button" ng-hide="vm.isView" ng-click="vm.cancel()">Cancelar</button>
            </div>
        </script>
    </div>

</div>-+