<div class="well text-center">
    <p>Esta pagina permite <span class="text-success">agregar</span>, <span class="text-warning">editar</span> y <span class="text-danger">eliminar</span> usuarios.</p>
</div>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Listado</div>
    <div class="panel-body">
        <div ng-controller="UserCtrl">
            <button id="addBtn" ng-click="grid.appScope.read(row.entity)" type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i></button>
            <div id="grid1" ui-grid="gridOptions" ui-i18n="es" ui-grid-selection ui-grid-exporter ui-grid-pagination class="grid"></div>
        </div>
    </div>
</div>