<div class="jumbotron text-center">
    <h1>Usuarios</h1>
    <p>Esta pagina permite <span class="text-success">agregar</span>, <span class="text-warning">editar</span> y <span class="text-danger">eliminar</span> usuarios.</p>
</div>

<div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Panel heading</div>
    <div class="panel-body">
        <p>Some default panel content here. Nulla vitae elit libero, a pharetra augue. Aenean lacinia bibendum nulla sed consectetur. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
    </div>
        <!-- Table -->
        <table class="table">
            <thead>
            <tr>
                <th>name</th>
            </tr>
            </thead>
            <tbody ng-init="users=[
        '103745',
'103880',
'104096',
'104624',
'104746',
'105316',
'105676',
'105994',
'16898',
'32043',
'Bartolome',
'Bibiana',
'Braian',
'Camila',
'Capacitacion',
'Consulta',
'DT',
'Demo1',
'DiegoL',
'Eduardo',
'Gabriela',
'Gustavo',
'Hector',
'IAG',
'Ignacio',
'Janet',
'Javier',
'Juliana',
'Leandro',
'Maria',
'Mauricio',
'Nahuel',
'Nancy',
'Natalia',
'Nicolas',
'Noelia',
'Nubebo',
'Pablo',
'PabloC',
'Paola',
'Sabrina',
'Sergio',
'Sergio Badenas',
'Stella',
'Tuteur',
'VALENTIN',
'absolut_demo',
'aep',
'alejandro',
'art_demo1_col',
'art_demo_ar',
'art_demo_bo',
'art_demo_cl',
'art_demo_col',
'art_demo_uy',
'art_mcarbajo1_ar',
'art_mcarbajo2_ar',
'bhi',
'bolivia_demo',
'brc',
'calibracion',
'calibracion2',
'capannone',
'captton_demo',
'celletech',
'celletech_demo',
'celsius',
'cevallos',
'cliente_demo',
'con_demo_ar',
'cor',
'coy',
'crd',
'cristian',
'ctc',
'cvi',
'demo_FM3620',
'demo_bolivia',
'demo_wifi',
'diego',
'estacion_demo',
'farmacia_san_antonio',
'farmakd',
'farmared',
'fco',
'ferarista',
'frigorifico_oneto',
'gamadelsa',
'gas_lel_ar',
'gastronomia_segura',
'gnr',
'imcobol',
'irisys',
'irj',
'jni',
'juj',
'ladorita',
'luq',
'mdq',
'mdz',
'mgstock',
'mgtambo',
'monitoreo',
'monitoreo 1',
'movilgate',
'nic',
'nqn',
'oca_cevallos',
'oca_control',
'oca_sucursales',
'pra',
'ps1',
'rcu',
'rel',
'ros',
'rsa',
'rthaler',
'sde',
'seguimiento',
'seguridadcevallos',
'sfn',
'sla',
'telefonica',
'tomas',
'tuc',
'uaq',
'vma',
'vorwerk',
'vsf',
'vsf-2',
'wimosol_1000',
'wimosol_2000',
'wimosol_3000',
'wimosol_4000',
'wimosol_5000',
'wimosol_6000',
'wimosol_7000']">

        <tr ng-repeat="user in users">
            <th>{{user}}</th>
        </tr>
            </tbody>
        </table>
</div>

<div class="row">

    <div class="col-sm-6">
        <div ui-view="columnOne"></div>
    </div>


    <div class="col-sm-6">
        <div ui-view="columnTwo"></div>
    </div>


</div>