<div class="container">

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <button type="button" class="close" ng-click="vm.cancel()"><i class="fa fa-window-close" aria-hidden="true"></i></button>
            <h3 class="modal-title" id="modal-title">Reporte Historico</h3>
        </div>
        <div class="modal-body" id="modal-body">

            <highchart id="chart1" config="vm.chartConfig" class="span10"></highchart>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Volver</button>
        </div>
    </script>

    <div class="page-header text-center">
        <h1><span class="fa fa-area-chart"></span> Reporte Historico</h1>
    </div>

    <form name="historicalForm" class="form-horizontal">
        <fieldset>
            <legend>Filtrar por:</legend>

            <div class="form-group">
                <label class="col-sm-3 control-label">Tipo de Sensor</label>
                <div class="col-sm-6">
                    <span us-spinner spinner-key="sensorTypeSpinner"></span>
                    <ui-select ng-model="vm.type.selected" theme="bootstrap" uis-open-close="vm.onOpenClose(isOpen)">
                        <ui-select-match placeholder="Seleccione o busque un tipo de sensor en la lista...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices group-by="vm.groupByType" repeat="item in vm.types | filter: $select.search">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
                <button ng-click="vm.report(historicalForm)" type="button" class="btn btn-primary"><i class="fa fa-pie-chart" aria-hidden="true"></i> Reporte</button>
                <span us-spinner="{lines: 13, radius:42, scale: 1, width:14, length: 28, color: '#000'}" spinner-key="historicalGraphSpinner"></span>
            </div>

            <div class="row">
                <div class="col-md-6">
                <label class="col-sm-3 control-label">Fecha Desde</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dateFrom" is-open="popup1.opened" datepicker-options="dateOptionsFrom" ng-required="true" clear-text="Borrar" close-text="Cerrar" current-text="Hoy"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                         </span>
                    </p>
                </div>

                <div class="col-md-6">
                    <label class="col-sm-3 control-label">Fecha Hasta</label>
                    <p class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="dd.MM.yyyy" ng-model="dateTo" is-open="popup2.opened" datepicker-options="dateOptionsTo" ng-required="true" clear-text="Borrar" close-text="Cerrar" current-text="Hoy"/>
                        <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
        </fieldset>

        <uib-accordion>
            <div uib-accordion-group class="panel-default" ng-repeat="group in groups">
                <uib-accordion-heading>
                    <div ng-bind-html="group.title" compile-template></div>
                </uib-accordion-heading>
                <div ng-bind-html="group.content" compile-template></div>
            </div>
        </uib-accordion>

    </form>

</div>