<!-- views/profile.ejs -->
<!doctype html>
<html ng-app="sensorsWebApp">
<head>
    <!--<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />-->

    <title>SensoresApp - HOME - Adrenalina MKT&IT - 2017</title>

    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="styleSheet" href="../libs/angular-ui-grid/ui-grid.min.css"/>
    <link rel="styleSheet" href="../libs/angular-ui-select/dist/select.css"/>
    <!-- Optional theme -->
    <link rel="styleSheet" href="../assets/css/main.css"/>
    <link rel="stylesheet" href="../libs/highcharts-ng/dist/highcharts-ng.css">

    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="../libs/angular/angular.min.js"></script>
    <script src="../libs/angular-animate/angular-animate.js"></script>
    <script src="../libs/angular-sanitize/angular-sanitize.js"></script>

    <!-- load ngmessages -->
    <script src="../libs/angular-messages/angular-messages.min.js"></script>

    <script src="../libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script src="../libs/CSV-JS/csv.js"></script>
    <script src="../libs/pdfmake/build/pdfmake.js"></script>
    <script src="../libs/pdfmake/build/vfs_fonts.js"></script>

    <script src="../libs/underscore/underscore-min.js"></script>
    <script src="../libs/moment/moment.js"></script>
    <script src="../libs/angular-spinner/dist/angular-spinner.min.js"></script>

    <script type="text/javascript" src="../libs/highcharts/highcharts.js"></script>
    <script type="text/javascript" src="../libs/highcharts/modules/exporting.js"></script>
    <script src="../libs/highcharts-ng/dist/highcharts-ng.js"></script>

    <script src="../libs/angular-ui-select/dist/select.js"></script>

    <script src="../libs/angular-ui-grid/ui-grid.min.js"></script>
    <script src="../libs/angular-ui-router/release/angular-ui-router.min.js"></script>

    <script src="../libs/file-saver/FileSaver.js"></script>

    <script src="../config/app.js"></script>

    <script src="../services/alert.service.js"></script>
    <script src="../services/AppAlert.js"></script>
    <script src="../services/calculation.service.js"></script>
    <script src="../services/carrier.service.js"></script>
    <script src="../services/client.service.js"></script>
    <script src="../services/device.service.js"></script>
    <script src="../services/group.service.js"></script>
    <script src="../services/input.service.js"></script>
    <script src="../services/profile.service.js"></script>
    <script src="../services/report.service.js"></script>
    <script src="../services/sensor.service.js"></script>
    <script src="../services/timezone.service.js"></script>
    <script src="../services/type.service.js"></script>
    <script src="../services/user.service.js"></script>

    <script src="../controllers/alert.controller.js"></script>
    <script src="../controllers/calculation.controller.js"></script>
    <script src="../controllers/device.controller.js"></script>
    <script src="../controllers/group.controller.js"></script>
    <script src="../controllers/historical.controller.js"></script>
    <script src="../controllers/input.controller.js"></script>
    <script src="../controllers/measures.controller.js"></script>
    <script src="../controllers/profile.controller.js"></script>
    <script src="../controllers/sensor.controller.js"></script>
    <script src="../controllers/status.controller.js"></script>
    <script src="../controllers/user.controller.js"></script>
</head>

<body ng-controller="MainCtrl">
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img alt="Brand" height="20" width="20" src="../assets/img/adrenalina_logo.png">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <% if (user.user_type === 'Admin') { %>
                <li uib-dropdown>
                    <a uib-dropdown-toggle>
                        <i class="fa fa-cog" aria-hidden="true"></i> Admin <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul uib-dropdown-menu>
                        <li><a ui-sref="groups" ui-sref-active="active-dropdown-menu">Grupos</a></li>
                        <li><a ui-sref="sensors" ui-sref-active="active-dropdown-menu">Sensores</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="alerts" ui-sref-active="active-dropdown-menu">Avisos</a></li>
                        <li><a ui-sref="devices" ui-sref-active="active-dropdown-menu">Equipos</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="users" ui-sref-active="active-dropdown-menu">Usuarios</a></li>
                        <li><a ui-sref="profiles" ui-sref-active="active-dropdown-menu">Perfiles</a></li>
                    </ul>
                </li>
                <% } %>

                <li uib-dropdown>
                    <a uib-dropdown-toggle>
                        <i class="fa fa-line-chart" aria-hidden="true"></i> Monitoreo <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul uib-dropdown-menu>
                        <li><a ui-sref="status">Status</a></li>
                        <li><a ui-sref="historical">Historico</a></li>
                    </ul>
                </li>

                <li uib-dropdown>
                    <a uib-dropdown-toggle>
                        <i class="fa fa-file-o" aria-hidden="true"></i> Reportes <i class="fa fa-caret-down" aria-hidden="true"></i>
                    </a>
                    <ul uib-dropdown-menu>
                        <li><a ui-sref="measures">Mediciones</a></li>
                        <li><a ui-sref="calculations">Calculos</a></li>
                        <% if (user.user_type === 'Admin') { %>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="inputs">Ingresos</a></li>
                        <% } %>
                        <!--<li><a ui-sref="messages">Mensajes</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="statuses">Estados</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ui-sref="settings">Parametros</a></li>-->
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a href="/logout" type="button" class="btn btn-default navbar-btn"><i class="fa fa-sign-out" aria-hidden="true"></i> Salir</a>
                <p class="navbar-text"><i class="fa fa-user-circle" aria-hidden="true"></i> <%= user.name %></p>
                <% if (user.user_type === 'Admin') { %>
                <span class="navbar-text" ng-init="init('<%= user.user_type %>')">Usuario Administrador</span>
                <% } else { %>
                <span class="navbar-text" ng-init="init('<%= user.user_type %>')">Usuario Monitoreo</span>
                <% } %>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="container">

    <div>
        <div uib-alert ng-repeat="alert in alerts" ng-class="alert.type" dismiss-on-timeout="5000" close="alert.close()">{{alert.msg}}</div>
    </div>

    <!--<% include header.html %>-->

    <!-- THIS IS WHERE WE WILL INJECT OUR CONTENT ============================== -->
    <div ui-view></div>

    <% include footer.html %>

</div>
</body>
</html>