<!-- views/signup.ejs -->
<!doctype html>
<html class="no-js" ng-app="PasswordStrength">
<head>
    <title>SensoresApp - SIGNUP - Adrenalina MKT&IT - 2017</title>

    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap.min.css">
    <!-- Optional theme -->
    <link rel="stylesheet" href="../libs/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="../libs/font-awesome/css/font-awesome.min.css">

    <link rel="styleSheet" href="../assets/css/main.css"/>

    <style>
        body 		{ padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

    <% include header.html %>

    <div class="col-sm-6 col-sm-offset-3">

        <!-- show any messages that come back with authentication -->
        <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
        <% } %>

        <!-- LOGIN FORM -->
        <form action="/signup" method="post" name="joinTeamForm" role="form" ng-controller="FormController" autocomplete="off">

            <legend class="form-label">Registracion</legend>

            <div class="form-group">
                <label for="usernameInput">Usuario</label>

                <div class="error form-hint" ng-show="joinTeamForm.fullname.$dirty && joinTeamForm.fullname.$error.required" ng-cloak>{{"Este campo es requerido."}}</div>

                <input type="text" class="form-control" ng-class="(joinTeamForm.username.$dirty &&
        joinTeamForm.username.$invalid) ? 'error' : ''" name="username" id="usernameInput" placeholder="Ingresar nombre" ng-required="true" ng-model="username" autofocus>
            </div>

            <div class="form-group">
                <label for="passwordInput">Contrase単a</label>
                <div class="form-hint">
                    Para cumplimentar con nuestra politica de Contrase単a Segura, Ud. debe ingresar una contrase単a
                    suficientemente fuerte. Se requiere que al menos posea 7 caracteres.
                </div>
                <input type="password" class="form-control ok-password" ng-class="(joinTeamForm.password.$dirty && joinTeamForm.password.$invalid) ? 'error' : ''" name="password" id="passwordInput" placeholder="Ingresar Contrase単a" ng-required="true" ng-model="password">

                <div class="label password-count" ng-class="password.length > 7 ? 'label-success' : 'label-danger'" ng-cloak>{{ password | passwordCount:7 }}</div>

                <div class="strength-meter">
                    <div class="strength-meter-fill" data-strength="{{passwordStrength}}"></div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" ng-disabled="joinTeamForm.$invalid">Registrarse</button>
        </form>

        <hr>

        <a class="btn btn-info btn-sm" role="button" href="/login"><span class="fa fa-sign-in"></span> Ingresar</a>
        <a class="btn btn-default btn-sm" role="button" href="/"><span class="fa fa-home"></span> Volver al inicio</a>

    </div>

</div>

<% include footer.html %>

<script src="../libs/angular/angular.min.js"></script>
<script src="../assets/js/zxcvbn.loader.js"></script>

</body>
</html>